{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "global-require": 0
  }
}
