{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "global-require": 0,
    "react/forbid-prop-types": ["off"],
    "react/prop-types": ["warn"],
    "react/require-default-props": ["warn"],
    "react/no-unused-prop-types": ["warn"],
    "react/jsx-filename-extension": ["off"],
    "import/no-extraneous-dependencies": ["off"]
  }
}
