{
  "extends": "airbnb-base",
  "rules": {
    "consistent-return": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}