<div class="login-wrapper">
  <div class="login-box">
    <div class="box-logo"></div>
    <h1>Axa Sure Back-office</h1>
    <h4>LOG IN</h4>
    <form>
      <input type="text" class="email" placeholder="Username">
      <input type="password" placeholder="Password">
      <div *ngIf="error" class="error-message">
        Error: {{ error }}
      </div>
      <div class="forgot-password">Forgot password?</div>
      <div *ngIf="!wait" class="login-button">Let's Go</div>
      <div *ngIf="wait" class="login-button" disabled>Wait...</div>
      <div class="activate-passaxa">
        <a href="https://passaxa.axa.com/pass/password_management.jsp" target="_blank">Activate your PassAXA</a>
      </div>
    </form>
  </div>
  <div class="login-footer">
    &copy; 2017 AXA
  </div>
</div>