:host {
  .login-wrapper {
    width: 100%;
    min-height: 100%;
    padding-top: 135px;
    background: url('../../assets/img/images/bg.png') no-repeat center center fixed;
    background-color: #103184 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .login-wrapper .login-box {
    width: 527px;
    background: #ffffff;
    margin: 0 auto;
    padding: 49px;
    text-align: center;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.5);
  }
  .login-wrapper .login-box .box-logo {
    background: url('../../assets/img/images/axa-logo.png') no-repeat center center;
    width: 238px;
    height: 97px;
    margin: 0 auto;
  }
  .login-wrapper .login-box h1 {
    margin-top: 25px;
    margin-bottom: 16px;
    font-size: 32px;
    color: #103184;
    font-weight: 900;
  }
  .login-wrapper .login-box h4 {
    font-size: 16px;
    font-weight: 600;
    color: #727280;
    margin-bottom: 0px;
  }
  .login-wrapper .login-box form {
    width: 340px;
    margin: 0 auto;
  }
  .login-wrapper .login-box form input {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 1.6px;
    border: solid 0.8px #ccdde3;
    margin-top: 23px;
    color: #333333;
  }
  .login-wrapper .login-box form input.email {
    font-size: 15px;
  }
  .login-wrapper .login-box form .forgot-password {
    margin-top: 15px;
    margin-bottom: 11px;
    font-size: 11px;
    color: #cccccc;
  }
  .login-wrapper .login-box form .login-button {
    width: 340px;
    height: 40px;
    line-height: 40px;
    border-radius: 1.6px;
    background-color: #103184;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
  .login-wrapper .login-box form input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #cccccc;
    font-size: 24px;
  }
  .login-wrapper .login-box form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cccccc;
    opacity: 1;
    font-size: 24px;
  }
  .login-wrapper .login-box form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cccccc;
    opacity: 1;
    font-size: 24px;
  }
  .login-wrapper .login-box form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cccccc;
    font-size: 24px;
  }
  .login-wrapper .login-box form input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #cccccc;
    font-size: 24px;
  }
  .login-wrapper .login-box .activate-passaxa {
    text-align: right;
    margin: 19px auto 0;
    width: 100%;
  }
  .login-wrapper .login-box .activate-passaxa a {
    background: url('../../assets/img/images/passaxa.jpg') no-repeat left center;
    padding: 10px 0 10px 27px;
    font-size: 11px;
    color: #7f7f7f;
    text-decoration: none;
  }
  .login-wrapper .login-box .error-message {
    font-size: 13px;
    color: #a94442;
    margin-top: 10px;
  }
  .login-wrapper .login-footer {
    margin: 200px auto 0;
    font-size: 12px;
    text-align: center;
    color: #cccccc;
  }
  .login-wrapper select {
    margin-top: 15px;
  }
}